body {
    margin: 0;
}
/*begin index*/

/*header*/
header {
    background-color: white;
    text-align: center;
  }

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

p {
    font-family: 'Inter', sans-serif;
}

li {
    display: inline;
    margin: 0 20px;
}
/*header*/

/*main*/
.wrapper {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.wrapper img {
    width: 300px;
    height: 190px;
    height: auto;
}

.container {
    width: 100%;
    height: 100%;
}

.name {
    width: 360px;
    color: black;
    font-size: 64px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.greeting {
    width: 370px;
    color: black;
    font-size: 75px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}

.info {
    width: 334px;
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.button-wrapper {
    height: 300px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.button-mij {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #F3970C;
    width: 127px;
    height: 51px;
    border-radius: 22px;
    padding: 0;
    border: none;
}

.button-project {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 127px;
    height: 51px;
    border-radius: 22px;
    padding: 0;
    border: none;
}
/*main*/

/*begin footer*/
footer {
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: black;
}
/*end footer*/

/*end index*/


/*begin over mij*/ 

/*main*/ 
.info-wrapper {
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-top: 109px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rectangle {
    background: #ffa500;
    width: 9px;
    height: 88px;
}

.info-tekst {
    width: 657px;
    font-size: large;
}

.cv-wrapper {
    display: flex;
    margin-top: 96px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.cv-tekst {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

.cv-button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #FFA500;
    height: 63px;
    width: 327px;
    border-radius: 12px;
    border: none;
    margin-top: 15px;
}

.cv-button:hover {
    background-color: #ffa600db;
}

.credit-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

.credit-wrapperlinks {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: larger;
}

  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right: 50px solid #FFA500; 
  }

  .arrow-left2 {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right: 50px solid #FFA500; 
  }

  .arrow-left3 {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right: 50px solid #FFA500; 
  }

  .rectangle2 {
    background: #ffa500;
    width: 9px;
    height: 88px;
}

.credit-wrapperrechts {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: larger;
}

.rectangle3 {
    background: #ffa500;
    width: 9px;
    height: 88px;
}
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #FFA500;
  }

  .arrow-right2 {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #FFA500;
  }

  .arrow-right3 {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #FFA500;
  }


.vertical {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#vertical1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: large;
}

.contactg-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.contactg {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: larger;
}

#contactg1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.rectangle4 {
        background: #ffa500;
        width: 260px;
        height: 9px;
        margin-top: 10px;
}

/* end main*/ 

/*begin footer*/ 

.footer-overmij {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: black;
}

/*end footer*/

/*end over mij*/

/*begin contact*/ 
.background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  